<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/header.ejs') %>

        <link rel="stylesheet" href="/styles/main.css">
    
    </head>

    <body>
        <h1>Items Page</h1>
        <div class="flex-container"></div>
        
        <ul>
            <% items.forEach(details => { %>
                <div class="itemCard">
                <li class="itemList">
                    <div class="itemList-img"><img src=<%= details.image %>></img><br></div>
                    <div class="itemList-name">Name: <%= details.name %><br></div>
                    <div class="itemList-type">Type: <%= details.type %><br></div>
                    <div class="itemList-origin">Origin: <%= details.origin %><br></div>
                    <div class="itemList-capacity">Capacity: <%= details.capacity %><br></div><br>
                    <div class="itemList-description"><%= details.description %><br></div>
                </div>
                <div id="reviewLabel">
                    <h3>Reviews:</h3>
                </div>
                    <div class="reviewCard">
                    <ul class="itemReviews">
                        <% details.reviews.forEach(reviewContent => { %>
                            <li class="aReview">
                                <div class="reviewMade">Made: <%= reviewContent.createdAt %></div>
                                <div class="reviewUpdated">Updated: <%= reviewContent.updatedAt %></div><br>
                                <div class="reviewTitle"><h4><%= reviewContent.title %></h4></div>
                                <div class="reviewText"><%= reviewContent.body %></div><br>
                                <form method="POST" id="reviewButtons">
                                    <button formaction="items/reviews/edit/<%=details.name%>"id="editButton">
                                        Edit
                                    </button>
                                    <button formaction="items/reviews/<%=details.name%>" id="deleteButton">
                                        Delete
                                    </button>
                                    <input type="hidden" name="reviewID" value="<%=reviewContent._id%>">
                                    <input type="hidden" name="currentTitle" value="<%=reviewContent.title%>">
                                    <input type="hidden" name="currentBody" value="<%=reviewContent.body%>">
                                </form>
                            </li>
                        
                       <% }) %> 
                    </ul>
                </div>
                </li>
                <a href="items/reviews/add/<%=details.name%>"><button id="addReview">Add Review</button></a><br>
           <% }) %>
           
        </ul>
    </div>
    </body>